.row {
    margin: 10px 0;
}

.products-image {
    padding: 0;

    a {
        height: 100%;

        img {
            height: 100%;
        }
    }

}

.products-content {

    h3 {

        a {
            font-size: 14px;
        }

    }

}

.single-products-box .products-content .price span {
    font-size: 13px;
}