<div *ngIf="!isOnPhoneWidth" class="new_auth_wrapper __row">

    <div class="col-md-7 col-12 new_wrapper_form">

      <h2 class="title" >Création de Compte</h2>

      <h4 *ngIf="registerDone">
        Votre compte a été bien créer, veuillez consulter votre boite mail pour valider votre compte.
        Ou, vous pouvez vous <a routerLink="/auth/login">connecter</a> directement.
      </h4>

      <div *ngIf="!registerDone" class="form-group row" style="margin-top: 2em;">

        <div class="col-12">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput [(ngModel)]="user.username" name="firstName" type="text" placeholder="Ex. .">
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email" name="email" type="email" placeholder="Ex. exemaple@gmail.com">
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Mot de Passe</mat-label>
            <input matInput [(ngModel)]="user.password" name="password"  [type]="hide ? 'password' : 'text'">

            <mat-icon matSuffix color="primary" class="btn" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Confirmer Mot de Passe</mat-label>
            <input matInput [(ngModel)]="confirmPAssword" name="confirmPAssword" [type]="hide ? 'password' : 'text'">

            <mat-icon matSuffix color="primary" class="btn" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <!-- <h4 class="forgot_password">
          <a routerLink="/auth/forgot-password"  >Mot de passe oublié ?</a>
        </h4> -->

        <div class="form_input"
          type="submit">
          <button
            (click)="submit()"
            type="submit" >
            <span *ngIf="!load">Créer un compte</span>
            <div *ngIf="load" style="margin-top: 5px;" class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>

        <!-- <h4 class="last_msg" >Vous n’avez pas encore de compte ? <a routerLink="/auth/register" >Cliquez ici !</a> </h4> -->

      </div>

    </div>

    <div class="col-md-5 col-12 info">

      <div class="logo_content row">

        <img src="../../../../../assets/images/logo_2-removebg-preview.png" alt="">

      </div>

      <h2 class="title">Vous avez déjà un compte ?</h2>

      <h3>Connectez vous pour contribuer</h3>

      <div class="row">

        <a routerLink="/auth/login" class="btn scu-btn">Se connecter</a>

      </div>

    </div>

  </div>


  <div *ngIf="isOnPhoneWidth" class="new_auth_wrapper row">

    <div class="col-12 new_wrapper_form">

      <h2 class="title" >Création de Compte</h2>

      <h4 *ngIf="registerDone">
        Votre compte a été bien créer, veuillez consulter votre boite mail pour valider votre compte.
        Ou, vous pouvez vous <a routerLink="/auth/login">connecter</a> directement.
      </h4>

      <div *ngIf="!registerDone" class="form-group row" style="margin-top: 2em;">

        <div class="col-12">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput [(ngModel)]="user.username" name="firstName" type="text" placeholder="Ex. .">
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email" name="email" type="email" placeholder="Ex. exemaple@gmail.com">
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Mot de Passe</mat-label>
            <input matInput [(ngModel)]="user.password" name="password"  [type]="hide ? 'password' : 'text'">

            <mat-icon matSuffix color="primary" class="btn" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Confirmer Mot de Passe</mat-label>
            <input matInput [(ngModel)]="confirmPAssword" name="confirmPAssword" [type]="hide ? 'password' : 'text'">

            <mat-icon matSuffix color="primary" class="btn" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

        <!-- <h4 class="forgot_password">
          <a routerLink="/auth/forgot-password"  >Mot de passe oublié ?</a>
        </h4> -->

        <div class="form_input"
          type="submit">
          <button
            (click)="submit()"
            type="submit" >
            <span *ngIf="!load">Créer un compte</span>
            <div *ngIf="load" style="margin-top: 5px;" class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>

        <h4 style="width: 100%;" class="last_msg" >Vous avez déja un compte ? <a routerLink="/auth/login" >Cliquez ici !</a> </h4>

      </div>

    </div>

  </div>
