
<div *ngIf="!isOnPhoneWidth" class="new_auth_wrapper __row">

    <div class="col-md-7 col-12 new_wrapper_form">

      <h2 class="title" >Mot de Passe Oublié</h2>

      <div *ngIf="!done" class="form-group row" style="margin-top: 2em;">

        <div class="col-12">

          <h4 style="text-align: center;" >Veuilez entrer votre email</h4>

          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Ex. exemaple@gmail.com">
          </mat-form-field>
        </div>

        <div class="form_input"
          type="submit">
          <button
            (click)="submit()"
            type="submit" >
            <span *ngIf="!load">Valider</span>
            <div *ngIf="load" style="margin-top: 5px;" class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>

        <!-- <h4 class="last_msg" >Vous n’avez pas encore de compte ? <a routerLink="/auth/register" >Cliquez ici !</a> </h4> -->

      </div>

      <div *ngIf="done" class="form-group row" style="margin-top: 2em;">

        <div class="col-12">

          <h4 style="text-align: center;" class="text-danger" >Veuilez Consulter votre mail pour continuer la procédure afin de créer votre nouveau mot de passe.</h4>

        </div>

      </div>

    </div>

    <div class="col-md-5 col-12 info">

      <div class="logo_content row">

        <img src="../../../../../assets/images/logo_ hub_csu.jpg" alt="">

      </div>

      <h2 class="title">Vous avez déjà un compte ?</h2>

      <h3>Connectez vous pour contribuer</h3>

      <div class="row">

        <a routerLink="/auth/login" class="btn scu-btn">Se connecter</a>

      </div>

    </div>

  </div>

  <div *ngIf="isOnPhoneWidth" class="new_auth_wrapper row">

    <div class="col-12 info" style="padding-bottom: 2em; padding-top: 3em">

      <div class="logo_content row">

        <img src="../../../../../assets/images/logo_ hub_csu.jpg" alt="">

      </div>

      <h2 class="title">Vous avez déjà un compte ?</h2>

      <h3>Connectez vous pour contribuer</h3>

      <div class="row">

        <a routerLink="/auth/login" class="btn scu-btn">Se connecter</a>

      </div>

    </div>

    <div class="col-12 new_wrapper_form">

      <h2 class="title" >Mot de Passe Oublié</h2>

      <div *ngIf="!done" class="form-group row" style="margin-top: 2em;">

        <div class="col-12">

          <h4 style="text-align: center;" >Veuilez entrer votre email</h4>

          <mat-form-field class="width_100" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Ex. exemaple@gmail.com">
          </mat-form-field>
        </div>

        <div class="form_input"
          type="submit">
          <button
            (click)="submit()"
            type="submit" >
            <span *ngIf="!load">Valider</span>
            <div *ngIf="load" style="margin-top: 5px;" class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>

        <!-- <h4 class="last_msg" >Vous n’avez pas encore de compte ? <a routerLink="/auth/register" >Cliquez ici !</a> </h4> -->

      </div>

      <div *ngIf="done" class="form-group row" style="margin-top: 2em;">

        <div class="col-12">

          <h4 style="text-align: center;" class="text-danger" >Veuilez Consulter votre mail pour continuer la procédure afin de créer votre nouveau mot de passe.</h4>

        </div>

      </div>

    </div>

  </div>
