
<section class="page-title-area" style="background-image: url('../../../../../../assets/_doctors_0.jpg');" >
    <div class="container">
        <div class="page-title-content">
            <h2> <span style="color: crimson;" >Détails :</span>  Dr Franck ZOTI</h2>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/consultation">Liste Spécialistes</a></li>
                <li>Dr Franck ZOTI</li>
            </ul>
        </div>
    </div>
</section>

<section class="product-details-area pt-100 pb-70">

    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-md-12">

                <!-- <div class="products-details-image">
                    <ul class="products-details-image-slides">
                        <li><img src="assets/img/products/img1.jpg" alt="image"></li>
                        <li><img src="assets/img/products/img2.jpg" alt="image"></li>
                        <li><img src="assets/img/products/img3.jpg" alt="image"></li>
                    </ul>

                    <div class="slick-thumbs">
                        <ul>
                            <li><img src="assets/img/products/img1.jpg" alt="image"></li>
                            <li><img src="assets/img/products/img2.jpg" alt="image"></li>
                            <li><img src="assets/img/products/img3.jpg" alt="image"></li>
                        </ul>
                    </div>
                </div> -->

                <img src="../../../../../../assets/_doctors_0.jpg" alt="image">

            </div>

            <div class="col-lg-7 col-md-12">
                <div class="products-details-desc">

                    <h1 style="font-weight: 600" >Dr Franck ZOTI</h1>

                    <h4 style="font-weight: 400" >Généraliste</h4>

                    <div class="products-review">
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                    </div>

                    <div class="products-details-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Biographie
                                    <i class="flaticon-add"></i>
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                                <div class="card-body">
                                    <p>Design inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Avis
                                    <i class="flaticon-add"></i>
                                </a>
                            </div>

                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                                <div class="card-body">
                                    <div class="products-review-form">
                                        <h3>Avis Utilisateurs</h3>

                                        <div class="review-title">
                                            <div class="rating">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bx-star'></i>
                                            </div>
                                            <p>Basé sur 3 Avis</p>
                                            <a href="#" class="default-btn"><i class="flaticon-add"></i> Laisser un avis</a>
                                        </div>

                                        <div class="review-comments">
                                            <div class="review-item">
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                                <h3>Good</h3>
                                                <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            </div>

                                            <div class="review-item">
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                                <h3>Good</h3>
                                                <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            </div>

                                            <div class="review-item">
                                                <div class="rating">
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bx-star'></i>
                                                </div>
                                                <h3>Good</h3>
                                                <span><strong>Admin</strong> on <strong>Sep 21, 2019</strong></span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            </div>
                                        </div>

                                        <div class="review-form">
                                            <h3>Write a Review</h3>

                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="form-group">
                                                            <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" id="review-title" name="review-title" placeholder="Enter your review a title" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="form-group">
                                                            <textarea name="review-body" id="review-body" cols="30" rows="6" placeholder="Write your comments here" class="form-control"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-md-12">
                                                        <button type="submit" class="default-btn"><i class="flaticon-open-book"></i> Submit Review</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="related-products">
        <div class="container">
            <div class="section-title">
                <!-- <span class="sub-title">Our Shop</span> -->
                <h2>Spécialistes Similaires</h2>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">

                    <a routerLink="/consultation/doctors/zsfze54" class="single-doctors-box">
                        <div class="image">
                            <img src="../../../../../../assets/_doctors_1.jpg" alt="image">

                            <ul class="social">
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3>Dr. Addison Smith</h3>
                            <span>Nephrologists</span>
                        </div>
                    </a>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">

                    <a routerLink="/consultation/doctors/zsfze54" class="single-doctors-box">
                        <div class="image">
                            <img src="../../../../../../assets/_doctors_1.jpg" alt="image">

                            <ul class="social">
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3>Dr. Addison Smith</h3>
                            <span>Nephrologists</span>
                        </div>
                    </a>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">

                    <a routerLink="/consultation/doctors/zsfze54" class="single-doctors-box">
                        <div class="image">
                            <img src="../../../../../../assets/_doctors_1.jpg" alt="image">

                            <ul class="social">
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3>Dr. Addison Smith</h3>
                            <span>Nephrologists</span>
                        </div>
                    </a>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">

                    <a routerLink="/consultation/doctors/zsfze54" class="single-doctors-box">
                        <div class="image">
                            <img src="../../../../../../assets/_doctors_1.jpg" alt="image">

                            <ul class="social">
                                <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3>Dr. Addison Smith</h3>
                            <span>Nephrologists</span>
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </div>

</section>
